
.pop-up {
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    margin: 0;
    padding: 0;
}

.pop-up-box {
    display: inline-block;
    background-color: rgba(255,255,255,.60);
    border-radius: 0 0 50px 0;
}

.pop-up-content {
    font-size: 100px;
    font-family: 'Comic Sans MS', sans-serif, Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    /* padding: 0 1em; */
}

.timer {
    font-size: 150px;
    font-family: 'Impact', 'DIN Condensed', 'Futura', sans-serif;
    color: black;
    padding: 0 0 1em 1em;
}